*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Segoe UI',sans-serif;

background:
linear-gradient(
135deg,
#ff9a9e,
#fad0c4
);

overflow-y:auto;
overflow-x:hidden;

}

.screen{

display:none;

min-height:100vh;

padding:40px 20px;

justify-content:center;
align-items:center;
flex-direction:column;

text-align:center;

}

.active{
display:flex;
}

h1{

color:white;

margin-bottom:25px;

font-size:
clamp(
2rem,
5vw,
3.5rem
);

}

button{

padding:15px 30px;

border:none;

border-radius:50px;

font-size:18px;

cursor:pointer;

margin-top:25px;

background:white;

color:#ff4f81;

font-weight:bold;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

.botones{

display:flex;

gap:20px;

flex-wrap:wrap;

justify-content:center;

}

.poema{

white-space:pre-line;

max-width:900px;

color:white;

line-height:1.9;

font-size:1.15rem;

padding:20px;

margin-bottom:40px;

}

.video{

width:90%;

max-width:900px;

height:min(60vw,500px);

border:none;

border-radius:20px;

margin-top:20px;

}

.audio{

width:90%;

max-width:700px;

height:120px;

border:none;

border-radius:15px;

}

.final{

margin-top:25px;

color:white;

font-size:1.2rem;

}

@media(max-width:768px){

.poema{

font-size:1rem;

line-height:1.7;

}

button{

width:90%;

max-width:280px;

}

}
